<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="/admin/layouts/admin">
<head>
</head>
<body>
	<section layout:fragment="admin_content">
		<div>

			<div id="page-content-wrapper">
				<div class="container-fluid">

					<div class="form-group">
						<select>
						 <option th:each="var : ${books}" 
                					th:value="${var.id}" 
                					th:text="${var.name}">Books</option>
					
						</select>
					</div>

				</div>
		</div>
		</div>
		<!-- /#wrapper -->
	</section>
</body>

</html>