<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <title>Türkninja — Hakkımızda</title>

</head>

<body>

<section layout:fragment="content">
    <h2>Hakkımızda</h2>
	
    <p>
        Türkninja 2 kafadarın bilgi paylaşım sitesi ve mutfağıdır.
        <strong style="font-size: 40px">☃</strong>
    </p>
    <p>
    	Web uygulamamız açık kaynak kodludur, ve açık kaynak kodlu uygulamalar kullanmaktadır.
    </p>
		<h3>Geliştiriciler</h3>
		<h4>Kadir Yaka</h4>
		<h4>Ali Turgut Bozkurt</h4>

    <p>
        Bize ulaşabilirsiniz..
    </p>

    <p>
        <a href="mailto:aliturgutbozkurt@gmail.com">aliturgutbozkurt@gmail.com</a>
    </p>
	 <p>
        <a href="mailto:yakakadir@gmail.com">yakakadir@gmail.com</a>
    </p>
    <h6>Uygulama github adresimiz</h6>
    <p>
        <a href="https://github.com/codescrackers/yazilim-okulu">https://github.com/codescrackers/turkninja</a>
    </p>
    <h6>Kullandığımız blog engine github adresi</h6>
	<p>
        <a href="https://github.com/AlexP11223/JavaSpringMvcBlog">https://github.com/AlexP11223/JavaSpringMvcBlog</a>
    </p>

    <p>
        <img class="img-responsive" src="../../images/cat-working.png" th:src="@{/images/cat-working.png}"/>
    </p>
</section>

</body>
</html>