<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <title>Türkninja — Gönderi oluştur</title>

    <script src="../../js/external/markdown/Markdown.Converter.js" th:src="@{/js/external/markdown/Markdown.Converter.js}"></script>
    <script src="../../js/external/markdown/Markdown.Sanitizer.js" th:src="@{/js/external/markdown/Markdown.Sanitizer.js}"></script>
    <script src="../../js/external/markdown/Markdown.Editor.js" th:src="@{/js/external/markdown/Markdown.Editor.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../css/external/pagedown.css" th:href="@{/css/external/pagedown.css}"/>
    <script src="../../js/external/fileupload/jquery.iframe-transport.js" th:src="@{/js/external/fileupload/jquery.iframe-transport.js}"></script>
    <script src="../../js/external/fileupload/jquery.fileupload.js" th:src="@{/js/external/fileupload/jquery.fileupload.js}"></script>
	<link rel="stylesheet" type="text/css" href="../../css/external/fileupload.css" th:href="@{/css/external/fileupload.css}"/>
    <script src="../../js/editpost.js" th:src="@{/js/editpost.js}"></script>
</head>

<body>
<section layout:fragment="content">
    <div class="col-sm-8 no-padding-col">
    	<script th:inline="javascript">
            window.mainPhotoUploadUrl = /*[[@{|/upload_post_main_photo/${post.id}|}]]*/ '';
            window.imgBaseUrl = /*[[@{|/uploads/|}]]*/ '';
            window.noPhotoImgUrl = /*[[@{|/images/noimage.jpg|}]]*/ '';
            window.avatarUploadUrl = /*[[@{|/upload_post_photo|}]]*/ '';
            window.noAvatarImgUrl = /*[[@{|/images/no-avatar-big.png|}]]*/ '';
        </script>
        <h2 th:text="${edit} ? 'Gönderiyi Düzenle' : 'Gönderi Oluştur'"></h2>

        <form th:action="${edit} ? @{|/posts/${post.id}/edit|} : @{/posts/create}" th:object="${post}" method="post" id="postForm">
            <div th:if="${#fields.hasErrors('*')}">
                <ul class="list-no-indent">
                    <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="form-group">
                <label for="title">Başlık:</label>
                <input type="text" class="form-control" id="title" th:field="*{title}"/>
            </div>

            <div class="form-group wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea class="wmd-input" id="wmd-input" th:field="*{text}"></textarea>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>

            <div class="form-group">
                <label for="tags">Etiketler:</label>
                <input type="text" class="form-control" id="tags" th:field="*{tags}" placeholder="c++, php"/>
            </div>
            <button type="submit" class="btn btn-default" th:text="${edit} ? 'Kaydet' : 'Gönder'"></button>

        </form>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div id="mainPhotoForm">
            <div class="mainPhoto-big">
                <img id="mainPhotoImg" class="img-responsive img-rounded" width="160" height="160"
                     th:src="${#strings.isEmpty(post.mainpagePhotoUrl)} ? @{/images/noimage.jpg} :
                          (${#strings.startsWith(post.mainpagePhotoUrl, 'http')} ? ${post.mainpagePhotoUrl} : (@{/uploads/} + ${post.mainpagePhotoUrl}))"/>
            </div>

            <div>
                <label>JPG veya PNG, kare foto terch ediniz (160x160 and 28x28 formatına resize edilecektir), maksimum boyut 1 MB</label>
                <div>
                    <span role="button" class="btn btn-default fileinput-button" id="uploadmainPhoto">
                        <span>Anasayfa vitrin fotosonu değiştir</span>
                        <input type="file" accept="image/jpeg, image/png" id="mainPhotoFileUploadInput" name="mainPhotoFile"/>
                    </span>
                </div>
            </div>

            <div id="mainPhotoUploadProgress" class="progress" style="display: none">
                <div class="progress-bar progress-bar-success"></div>
            </div>
            <div class="loading-indicator" style="display: none">
                <img th:src="@{/images/ajax-loader.gif}" />
            </div>
        </div>

        <div>
            <label class="error" id="mainPhotoError"></label>

            <div class="settings-success" id="mainPhotoSuccess" style="display: none">
                <img width="24" height="24" src="../../images/success-tick.png" th:src="@{/images/success-tick.png}"/>
                Ana sayfa blog fotosu başarılı bir şekilde kaydedildi.
            </div>
        </div>
        <div ng-controller="PostController as postCtrl" sec:authorize="hasRole('ROLE_ADMIN')">
        		<button ng-model="statusVal" ng-init="statusVal='Ana Sayfa Görünür Yap'" th:if="${!post.mainpage}"  class="btn btn-primary btn-block" th:attr="ng-click='postCtrl.changeMainpageVisibleStatus(statusVal,\''+${post.id}+'\')' " ><b >{{statusVal}}</b></button>
				<button ng-model="statusVal" ng-init="statusVal='Ana Sayfa Görünmez Yap'" th:if="${post.mainpage}"  class="btn btn-primary btn-block" th:attr="ng-click='postCtrl.changeMainpageVisibleStatus(statusVal,\''+${post.id}+'\')' " ><b>{{statusVal}}</b></button>

        </div>
        </div>
        
    </div>
</section>

</body>
</html>