<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/blog">

<head>
<title>Türkninja — Kayıt</title>

<script src="../../js/external/xregexp-all-min.js"
	th:src="@{/js/external/xregexp-all-min.js}"></script>
<script src="../../js/registration.js" th:src="@{/js/registration.js}"></script>
</head>

<body>

	<section layout:fragment="content">
		<script th:inline="javascript">
			window.emailCheckUrl = /*[[@{/check_email}]]*/'';
			window.usernameCheckUrl = /*[[@{/check_username}]]*/'';
		</script>

		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Kayıt</h3>
			</div>

			<form th:action="@{/register}" th:object="${user}" method="post" id="regForm"
				class="ng-pristine" >
				<div class="box-body">
					<div th:if="${#fields.hasErrors('*')}">
                 		<ul class="list-no-indent">
                     		<li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                 		</ul>
             		</div>
					<div class="form-group">
						<label for="username">Kullanıcı adı:</label> <input type="text"
							class="form-control" id="username"  th:field="*{username}" value=""/>
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email"
							class="form-control" id="email" th:field="*{email}" value=""/>
					</div>
					<div class="form-group">
						<label for="password">Şifre:</label> <input type="password"
							class="form-control" id="password" th:field="*{password}" value=""/>
					</div>
					<div class="form-group">
						<label for="password2">Şifre tekrar:</label> <input
							type="password" class="form-control" id="password2"
							name="password2"/>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">
						Kayıt ol
					</button>
				</div>
			</form>

		</div>
	</section>

</body>
</html>