<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorator="layouts/blog">

<head>
    <title th:text="'Türkninja Kullanıcılar'"></title>

    <link rel="stylesheet" type="text/css" href="../../css/external/pagedown.css" th:href="@{/css/external/pagedown.css}"/>
</head>

<body>

<section layout:fragment="content">
        <div class="col-sm-3 no-padding-col profile-info" th:each="user : ${users}">
            <h3 th:text="${user.username}"></h3>

            <div class="avatar-big">
                <img class="img-responsive img-rounded" width="80" height="80" th:src="${#strings.isEmpty(user.bigAvatarLink)} ?  @{/uploads/noavatar.jpg} : (@{/uploads/} + ${user.bigAvatarLink})"/>
            </div>

            <div class="website-link" th:unless="${#strings.isEmpty(user.websiteLink)}">
                <span class="glyphicon glyphicon-link"></span>
                <a th:href="${user.websiteLink}" th:text="${user.websiteLinkTitle}"></a>
            </div>

            <div class="reg-date">
                <span th:text="'Kayıt : ' + ${user.getDateStr()}"></span>
            </div>
        </div>
</section>

</body>
</html>