<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="/admin/layouts/admin">
<head>
</head>
<body>
	<section layout:fragment="admin_content">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
			    <div class="container">
					<div class="row">
						<h1>Kitaplar</h1>
					</div>
					<div class="row">
					
					</div>
				</div>
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</section>
	
</body>
</html>