<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<link rel="icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}"
	type="image/x-icon" />

<title>Türkninja</title>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- jQuery validation plugin -->
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<!-- Bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css"
	href="../../../css/bootstrap/css/bootstrap-theme.min.css" />

<link rel="stylesheet" type="text/css" href="../../../css/ninja.css" />
<link rel="stylesheet" type="text/css"
	href="../../../css/skins/skin-ninja-light.css" />

<!--  third Party -->
<link rel="stylesheet" type="text/css"
	href="../../../css/icheck/blue.css" />
<script src="../../../js/external/icheck.min.js"
	th:src="@{/js/external/icheck.min.js}"></script>
<!-- jQuery ui -->
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script src="../../../js/external/bootbox.min.js"
	th:src="@{/js/external/bootbox.min.js}"></script>

<script src="../../../js/common.js" th:src="@{/js/common.js}"></script>

<script th:inline="javascript"> var rootContext = [[${#httpServletRequest.getContextPath()}]]; </script>

<script src="../../../js/external/angular.min.js"
	th:src="@{/js/external/angular.min.js}"></script>

<link rel="stylesheet" type="text/css" href="../../../css/blog.css"
	th:href="@{/css/blog.css}" />
</head>

<body class="ng-cloak " ng-app="blog">

	<script th:inline="javascript">
		window.postsUrl = /*[[@{/posts}]]*/'';
		window.popularPostsUrl = /*[[@{/posts/top}]]*/'';
	</script>
	<div class="wrapper skin-ninja-light ">

		<header class="main-header bs-docs-nav">
		<div class="container">
			<a th:href="@{/}" class="logo"><img class="img-responsive"
				width="80" height="80" th:src="@{/images/turkninja_logo.png}"></img></a>
			<nav class="navbar navbar-static-top">

				
				<div class="navbar-custom-menu">

					<ul class="nav navbar-nav">

						<li><a th:href="@{/}">Ana Sayfa</a></li>
						<!-- Messages: style can be found in dropdown.less-->


						<li><a th:href="@{/users}">Tüm Kullanıcılar</a></li>
						<li th:if="${#authorization.expression('isAuthenticated()')}">
							<a th:href="@{'/users/'+${#authentication.name}}"> Profilim </a>
						</li>
					</ul>
					</div>
			</nav>
		</div>
		</header>

	<div class="container skin-ninja-light" style="padding:30px;"
		ng-controller="TagController as tagCtrl">


		<div class="row">
			<section class="col-sm-8">

				<div class="col-padding">
					<section id="pageContent" layout:fragment="content"></section>
				</div>
			</section>

			<section class="col-sm-4">
				<div class="col-padding">

					<div th:unless="${#authorization.expression('isAuthenticated()')}">
						<th:block th:include="fragments/loginform :: form ('login')" />
					</div>

					<div th:if="${#authorization.expression('isAuthenticated()')}">
						<strong sec:authentication="name"> ile giriş yapıldı</strong>

						<div>
							<a th:href="@{/logout}">Çıkış</a>
						</div>

						<div class="user-menu">
							<div class="user-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/posts/create}" role="button"
									class="btn btn-primary"> <span
									class="glyphicon glyphicon-pencil"></span> Gönderi Ekle
								</a>
							</div>
							<div class="user-menu-item">
								<a th:href="@{/settings}" role="button" class="btn btn-primary">
									<span class="glyphicon glyphicon-cog"></span> Ayarlar
								</a>
							</div>
							<div class="user-menu-item">
								<a th:href="@{/edit_profile}" role="button"
									class="btn btn-primary"> <span
									class="glyphicon glyphicon-user"></span> Profil Ayarları
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-padding">

					<div class="form-group">
						<label for="tagSearchInput">Etikete göre ara</label> <input
							type="text" autocomplete="off" class="form-control"
							id="tagSearchInput" ng-model="tagCtrl.tagName"
							ng-focus="tagCtrl.getAllTags()" name="tagged"
							placeholder="php, spring" />
					</div>


					<div class="btn-group" role="group" aria-label="..."
						ng-if="tagCtrl.tagName.length > 0">
						<button type="button" class="btn btn-default"
							ng-click="tagCtrl.getPostsByTagName(tag.tagName)"
							ng-repeat="tag in tagData = (tagCtrl.tagList | filter:{tagName: tagCtrl.tagName})">
							{{ tag.tagName }} <span class="badge"> {{ tag.postCount }}</span>
						</button>
						<div ng-if="tagData.length == 0">Sonuç bulunamadı</div>
					</div>


					<div id="latestPosts" class="panel panel-default">
						<div class="panel-body">
							<h4>Son Gönderiler</h4>


						</div>
					</div>

					<div id="popularPosts" class="panel panel-default">
						<div class="panel-body">
							<h4>Popüler Gönderiler</h4>


						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	</div>
	<footer class="page-footer">
		<p>&copy; 2016 Türkninja</p>
		<p>
			<a href="https://github.com/codescrackers/yazilim-okulu">https://github.com/codescrackers/turkninja</a>
		</p>
	</footer>
	<script src="../../../js/app.js" th:src="@{/js/app.js}"></script>
	<script src="../../../js/service/tag_service.js"
		th:src="@{/js/service/tag_service.js}"></script>
	<script src="../../../js/controller/tag_controller.js"
		th:src="@{/js/controller/tag_controller.js}"></script>
	<script src="../../../js/service/user_service.js"
		th:src="@{/js/service/user_service.js}"></script>
	<script src="../../../js/controller/user_controller.js"
		th:src="@{/js/controller/user_controller.js}"></script>
</body>
</html>